node-red/examples/02-power-quality.json
[
  {
    "id": "iaes-example-pq",
    "type": "tab",
    "label": "IAES: Power Quality",
    "disabled": false,
    "info": "Simulates power quality readings (power factor + THD) from an energy meter.\n\nClick either inject node to trigger."
  },
  {
    "id": "inject-pf",
    "type": "inject",
    "z": "iaes-example-pq",
    "name": "PF = 0.82",
    "props": [{ "p": "payload" }],
    "repeat": "",
    "crontab": "",
    "once": false,
    "onceDelay": 0.1,
    "topic": "",
    "payload": "0.82",
    "payloadType": "num",
    "x": 150,
    "y": 80,
    "wires": [["iaes-pf"]]
  },
  {
    "id": "iaes-pf",
    "type": "iaes-measurement",
    "z": "iaes-example-pq",
    "name": "Power Factor",
    "assetId": "SUBSTATION-A",
    "measurementType": "power_factor",
    "unit": "ratio",
    "source": "ion8650.meter_01",
    "sensorId": "",
    "location": "",
    "unitsQualifier": "",
    "assetName": "Subestacion Principal",
    "plant": "Pesqueria",
    "area": "Electrica",
    "x": 380,
    "y": 80,
    "wires": [["debug-pq"]]
  },
  {
    "id": "inject-thd",
    "type": "inject",
    "z": "iaes-example-pq",
    "name": "THD = 6.3%",
    "props": [{ "p": "payload" }],
    "repeat": "",
    "crontab": "",
    "once": false,
    "onceDelay": 0.1,
    "topic": "",
    "payload": "6.3",
    "payloadType": "num",
    "x": 150,
    "y": 160,
    "wires": [["iaes-thd"]]
  },
  {
    "id": "iaes-thd",
    "type": "iaes-measurement",
    "z": "iaes-example-pq",
    "name": "THD Voltage",
    "assetId": "SUBSTATION-A",
    "measurementType": "thd_voltage",
    "unit": "%",
    "source": "ion8650.meter_01",
    "sensorId": "",
    "location": "",
    "unitsQualifier": "",
    "assetName": "Subestacion Principal",
    "plant": "Pesqueria",
    "area": "Electrica",
    "x": 380,
    "y": 160,
    "wires": [["debug-pq"]]
  },
  {
    "id": "debug-pq",
    "type": "debug",
    "z": "iaes-example-pq",
    "name": "IAES Event",
    "active": true,
    "tosidebar": true,
    "console": false,
    "tostatus": false,
    "complete": "payload",
    "targetType": "msg",
    "x": 600,
    "y": 120,
    "wires": []
  }
]
