node-red/examples/03-ai-health-pipeline.json
[
  {
    "id": "iaes-example-health",
    "type": "tab",
    "label": "IAES: AI Health Pipeline",
    "disabled": false,
    "info": "Validates an incoming measurement, simulates an AI diagnosis, and creates a health event + work order.\n\nClick inject to trigger the full pipeline."
  },
  {
    "id": "inject-health",
    "type": "inject",
    "z": "iaes-example-health",
    "name": "Simulate measurement",
    "props": [{ "p": "payload" }],
    "repeat": "",
    "crontab": "",
    "once": false,
    "onceDelay": 0.1,
    "topic": "",
    "payload": "{\"spec_version\":\"1.2\",\"event_type\":\"asset.measurement\",\"event_id\":\"example-001\",\"timestamp\":\"2026-03-09T12:00:00Z\",\"source\":\"sensor.example\",\"asset\":{\"asset_id\":\"MOTOR-001\",\"asset_name\":\"Motor Bomba P-101\"},\"data\":{\"measurement_type\":\"vibration_velocity\",\"value\":8.5,\"unit\":\"mm/s\"}}",
    "payloadType": "json",
    "x": 170,
    "y": 80,
    "wires": [["validate-health"]]
  },
  {
    "id": "validate-health",
    "type": "iaes-validate",
    "z": "iaes-example-health",
    "name": "",
    "x": 390,
    "y": 80,
    "wires": [["func-ai"], ["debug-invalid"]]
  },
  {
    "id": "func-ai",
    "type": "function",
    "z": "iaes-example-health",
    "name": "Simulate AI diagnosis",
    "func": "// Simulate AI model output based on vibration level\nconst value = msg.payload.data.value;\nlet severity, health_index, action;\n\nif (value > 7.0) {\n    severity = 'critical';\n    health_index = 0.15;\n    action = 'Replace bearing immediately';\n} else if (value > 4.5) {\n    severity = 'high';\n    health_index = 0.4;\n    action = 'Schedule bearing replacement within 2 weeks';\n} else {\n    severity = 'low';\n    health_index = 0.85;\n    action = 'Continue monitoring';\n}\n\nmsg.payload = health_index;\nmsg.asset_id = 'MOTOR-001';\nmsg.severity = severity;\nmsg.failure_mode = 'bearing_inner_race';\nmsg.recommended_action = action;\nmsg.source_event_id = 'example-001';\nreturn msg;",
    "outputs": 1,
    "timeout": "",
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "libs": [],
    "x": 590,
    "y": 60,
    "wires": [["iaes-health-node", "iaes-wo-node"]]
  },
  {
    "id": "iaes-health-node",
    "type": "iaes-health",
    "z": "iaes-example-health",
    "name": "",
    "assetId": "MOTOR-001",
    "source": "ai.vibration_model",
    "severity": "critical",
    "failureMode": "",
    "rulDays": "5",
    "recommendedAction": "",
    "anomalyScore": "",
    "faultConfidence": "0.92",
    "iso13374Status": "unacceptable",
    "assetName": "Motor Bomba P-101",
    "plant": "Pesqueria",
    "area": "Turbinas",
    "x": 820,
    "y": 40,
    "wires": [["debug-health"]]
  },
  {
    "id": "iaes-wo-node",
    "type": "iaes-work-order",
    "z": "iaes-example-health",
    "name": "",
    "assetId": "MOTOR-001",
    "title": "",
    "priority": "high",
    "source": "ai.vibration_model",
    "description": "",
    "recommendedDueDays": "3",
    "triggeredBy": "ai_diagnosis",
    "assetName": "Motor Bomba P-101",
    "plant": "Pesqueria",
    "area": "Turbinas",
    "x": 820,
    "y": 100,
    "wires": [["debug-wo"]]
  },
  {
    "id": "debug-health",
    "type": "debug",
    "z": "iaes-example-health",
    "name": "Health Event",
    "active": true,
    "tosidebar": true,
    "console": false,
    "tostatus": false,
    "complete": "payload",
    "targetType": "msg",
    "x": 1040,
    "y": 40,
    "wires": []
  },
  {
    "id": "debug-wo",
    "type": "debug",
    "z": "iaes-example-health",
    "name": "Work Order",
    "active": true,
    "tosidebar": true,
    "console": false,
    "tostatus": false,
    "complete": "payload",
    "targetType": "msg",
    "x": 1040,
    "y": 100,
    "wires": []
  },
  {
    "id": "debug-invalid",
    "type": "debug",
    "z": "iaes-example-health",
    "name": "Invalid event",
    "active": true,
    "tosidebar": true,
    "console": false,
    "tostatus": false,
    "complete": "true",
    "targetType": "full",
    "x": 590,
    "y": 120,
    "wires": []
  }
]
