node-red/examples/05-sparkplug-to-mqtt.json
[
  {
    "id": "iaes-example-spk-mqtt",
    "type": "tab",
    "label": "IAES: Sparkplug B → MQTT → Validate",
    "disabled": false,
    "info": "Full pipeline: Sparkplug B metrics → IAES bridge → validate → publish to IAES topic.\n\nShows batch mode output with validation before publishing.\nIn production, wire to real MQTT brokers."
  },
  {
    "id": "inject-spk2",
    "type": "inject",
    "z": "iaes-example-spk-mqtt",
    "name": "Simulate 3 metrics",
    "props": [
      { "p": "payload" },
      { "p": "topic", "v": "spBv1.0/Ternium/DDATA/Edge01/COMP-001", "vt": "str" }
    ],
    "repeat": "",
    "crontab": "",
    "once": false,
    "onceDelay": 0.1,
    "topic": "",
    "payload": "{\"timestamp\":1709989200000,\"metrics\":[{\"name\":\"Discharge Pressure\",\"value\":8.5,\"type\":\"Float\"},{\"name\":\"Temperature\",\"value\":85.2,\"type\":\"Float\"},{\"name\":\"Vibration_Acceleration\",\"value\":1.8,\"type\":\"Float\"}]}",
    "payloadType": "json",
    "x": 160,
    "y": 100,
    "wires": [["sparkplug-batch"]]
  },
  {
    "id": "sparkplug-batch",
    "type": "iaes-sparkplug",
    "z": "iaes-example-spk-mqtt",
    "name": "Bridge (batch)",
    "assetIdSource": "device_id",
    "customAssetId": "",
    "source": "",
    "metricFilter": "",
    "outputMode": "batch",
    "assetName": "Compresor Atlas Copco GA-90",
    "plant": "",
    "area": "Compresores",
    "x": 380,
    "y": 100,
    "wires": [["func-split"], ["debug-err2"]]
  },
  {
    "id": "func-split",
    "type": "function",
    "z": "iaes-example-spk-mqtt",
    "name": "Split batch → individual",
    "func": "// Batch mode returns an array of IAES events\nconst events = msg.payload;\nconst msgs = events.map(e => ({ payload: e }));\nreturn [msgs];",
    "outputs": 1,
    "timeout": "",
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "libs": [],
    "x": 600,
    "y": 100,
    "wires": [["validate-spk"]]
  },
  {
    "id": "validate-spk",
    "type": "iaes-validate",
    "z": "iaes-example-spk-mqtt",
    "name": "",
    "x": 810,
    "y": 100,
    "wires": [["debug-valid2"], ["debug-invalid2"]]
  },
  {
    "id": "debug-valid2",
    "type": "debug",
    "z": "iaes-example-spk-mqtt",
    "name": "Valid → publish to iaes/events",
    "active": true,
    "tosidebar": true,
    "console": false,
    "tostatus": true,
    "complete": "payload",
    "targetType": "msg",
    "statusVal": "iaes_event_type",
    "statusType": "auto",
    "x": 1070,
    "y": 80,
    "wires": []
  },
  {
    "id": "debug-invalid2",
    "type": "debug",
    "z": "iaes-example-spk-mqtt",
    "name": "Invalid",
    "active": true,
    "tosidebar": true,
    "console": false,
    "tostatus": false,
    "complete": "true",
    "targetType": "full",
    "x": 1030,
    "y": 140,
    "wires": []
  },
  {
    "id": "debug-err2",
    "type": "debug",
    "z": "iaes-example-spk-mqtt",
    "name": "Bridge errors",
    "active": true,
    "tosidebar": true,
    "console": false,
    "tostatus": false,
    "complete": "true",
    "targetType": "full",
    "x": 580,
    "y": 160,
    "wires": []
  }
]
