n8n-nodes/examples/predictive-maintenance-pipeline.json
{
  "name": "IAES Predictive Maintenance Pipeline",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "iaes-ingest",
        "options": {}
      },
      "id": "webhook-1",
      "name": "Webhook (IAES Event)",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [0, 0],
      "webhookId": "iaes-ingest"
    },
    {
      "parameters": {
        "inputField": "",
        "strictMode": true
      },
      "id": "validate-1",
      "name": "IAES Validate",
      "type": "n8n-nodes-iaes.iaesValidate",
      "typeVersion": 1,
      "position": [220, 0]
    },
    {
      "parameters": {
        "inputField": "",
        "ruleKeyField": "data.failure_mode",
        "okSeverity": "info",
        "recoveryCount": 3,
        "emitSustained": false
      },
      "id": "lifecycle-1",
      "name": "IAES Lifecycle",
      "type": "n8n-nodes-iaes.iaesLifecycle",
      "typeVersion": 1,
      "position": [440, -40]
    },
    {
      "parameters": {
        "conditions": {
          "options": { "caseSensitive": true },
          "conditions": [
            {
              "id": "high-critical",
              "leftValue": "={{ $json.iaes_lifecycle.severity }}",
              "rightValue": "high",
              "operator": { "type": "string", "operation": "equals" }
            }
          ]
        }
      },
      "id": "severity-check",
      "name": "High or Critical?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [660, -80]
    },
    {
      "parameters": {
        "eventType": "maintenance.work_order_intent",
        "assetId": "={{ $json.asset.asset_id }}",
        "source": "n8n.predictive_pipeline",
        "correlationId": "={{ $json.iaes_lifecycle.correlation_id }}",
        "sourceEventId": "={{ $json.event_id }}",
        "woTitle": "=Inspect {{ $json.asset.asset_name || $json.asset.asset_id }} — {{ $json.data.failure_mode || 'anomaly detected' }}",
        "woPriority": "={{ $json.iaes_lifecycle.severity === 'critical' ? 'emergency' : 'high' }}",
        "woDescription": "=Auto-generated by IAES predictive pipeline.\n\nSeverity: {{ $json.iaes_lifecycle.severity }}\nFailure mode: {{ $json.data.failure_mode || 'unknown' }}\nHealth index: {{ $json.data.health_index }}\nRecommended action: {{ $json.data.recommended_action || 'Inspect and evaluate' }}\n\nCorrelation ID: {{ $json.iaes_lifecycle.correlation_id }}",
        "triggeredBy": "ai_diagnosis",
        "recommendedDueDays": "={{ $json.data.rul_days || 7 }}",
        "outputMode": "envelope"
      },
      "id": "emit-wo",
      "name": "IAES Work Order Intent",
      "type": "n8n-nodes-iaes.iaesEmit",
      "typeVersion": 1,
      "position": [880, -120]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.wertek.ai/api/v1/iaes/ingest",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify($json) }}",
        "options": {}
      },
      "id": "persist-wo",
      "name": "Persist to Wertek",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1100, -120],
      "disabled": true
    },
    {
      "parameters": {
        "method": "PATCH",
        "url": "=https://api.wertek.ai/api/v1/alerts/resolve/{{ $json.iaes_lifecycle.correlation_id }}",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "options": {}
      },
      "id": "resolve-alert",
      "name": "Resolve Alert",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [660, 100],
      "disabled": true
    },
    {
      "parameters": {
        "functionCode": "const item = $input.item;\nconst validation = item.json.iaes_validation;\nconst errors = validation?.errors?.join(', ') || 'unknown';\nconsole.error(`IAES validation failed: ${errors}`);\nreturn [{ json: { error: errors, original: item.json } }];"
      },
      "id": "log-invalid",
      "name": "Log Invalid Event",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [440, 160]
    }
  ],
  "connections": {
    "Webhook (IAES Event)": {
      "main": [[{ "node": "IAES Validate", "type": "main", "index": 0 }]]
    },
    "IAES Validate": {
      "main": [
        [{ "node": "IAES Lifecycle", "type": "main", "index": 0 }],
        [{ "node": "Log Invalid Event", "type": "main", "index": 0 }]
      ]
    },
    "IAES Lifecycle": {
      "main": [
        [{ "node": "High or Critical?", "type": "main", "index": 0 }],
        [{ "node": "Resolve Alert", "type": "main", "index": 0 }],
        []
      ]
    },
    "High or Critical?": {
      "main": [
        [{ "node": "IAES Work Order Intent", "type": "main", "index": 0 }],
        []
      ]
    },
    "IAES Work Order Intent": {
      "main": [[{ "node": "Persist to Wertek", "type": "main", "index": 0 }]]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "meta": {
    "templateId": "iaes-predictive-maintenance",
    "instanceId": "iaes-template"
  },
  "tags": [
    { "name": "IAES" },
    { "name": "Predictive Maintenance" }
  ]
}
